*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color:black;
    display: flex;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    font-size: 18px;
}


.nav-link i{
    margin-right: 8px;
}


.navbar-toggler{
    margin-right: 50px;
    padding: 0.25rem 0.75rem;
    color: grey;
    border-color: grey;
    background-color: whitesmoke;
    
}


.nav-item .nav-link{
    color: whitesmoke;
}
.navbar-collapse{
    flex-grow: 0;
}

.imglogo{
    width: 180px;
    height: 180px;
}





/* main  home*/

main{
    background-color: rgb(190, 190, 143);
overflow: hidden;
    
}

.img-01{
    height: 70%;
    width: 100%;
}

h1{    color: black;
    font-size: 4rem;
    font-family: "Permanent Marker";
      }

.parrafo{
    text-align: center;
    color:black;
    font-size: 1.1rem;
   
}

/* main galeria */
#galeria-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 100px;
}

#galeria img:hover{
    border: 5px solid #f7ecec;
}




/* main cociertos */
.p-conci{
    font-size: 1rem;
    color: rgb(224, 203, 132);
    font-weight: bold;
     
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
}
.h2bandera{
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-weight: bold;
}
.conciertos {
    width: 400px;
    background: #3b3b3b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    
}
.conciertos img{
    width: 180px;
    margin-top: 10px;
}
.main{
    
    column-gap: 50px;
    
}

.content-nomi{
    display: flex;
}


/* main formularios */
.form-register{
    width: 400px;
    background: #3b3b3b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #3b3b3b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-register a{
    color: white;
    text-decoration: none;

}
.form-register a:hover{
    color: white;
    text-decoration: underline;
    
}
.form-register .botons{
    width: 100%;
    background: rgb(107, 107, 223);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px, 0;
    font-size: 16px;
}



/* footer */
footer{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    margin-top: 0;
    clear: both;
    height: 100px;
    padding: 10px;
}

.contenidofooter{
    font-size: 1rem;
}

.footer3{
    font-size: 1rem;
}